<div>
  <h4 class="mb-4 text-muted">Tarefas</h4>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Minhas Tarefas</h5>
          <button type="button" class="btn btn-lightning end-0 position-absolute rounded-0 mb-2 me-3" (click)="abrirModalAdicionar(adicionarTarefaModal)">
            Adicionar
          </button>
        </div>
        <div class="card-body m-2" *ngIf="tarefas$ | async as tarefas; else carregando">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let tarefa of tarefas;">
              <div class="col-md-8">
                <input class="form-check-input me-1" type="checkbox" [checked]="tarefa.concluida" id="{{ tarefa.id }}" (click)="mudarStatusTarefa(tarefa)">
                <label class="form-check-label" for="{{ tarefa.id }}">{{ tarefa.descricao }}</label>
              </div>
              <div class="col-md-3">
                <span *ngIf="!tarefa.categoria" class="badge bg-light rounded-0 text-dark p-1">Sem categoria</span>
                <span *ngIf="tarefa.categoria" class="badge bg-success-subtle rounded-0 text-dark p-1">{{ tarefa.categoria.descricao }}</span>
              </div>
              <div class="col-md-1">
                <a class="btn btn-sm btn-outline-lightning rounded-0" (click)="removerTarefa(tarefa.id)">
                  <i class="far fa-trash-alt"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="text-center m-5" *ngIf="(tarefas$ | async)?.length == 0">
          <p class="text-muted">Sem tarefas para hoje. Adicione para que seu dia seja mais produtivo!</p>
        </div>
        <ng-template #carregando>
          <div class="text-center m-5">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">Carregando...</span>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <ng-template #adicionarTarefaModal>
    <app-adicionar-tarefa-modal></app-adicionar-tarefa-modal>
  </ng-template>
</div>
