@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$bg-color:#F5F5F5;
$navbar-bg-color: #ECE3D7;
$sidebar-bg-color:#FFFFFF;
$sidebar-color:#808080;
$navbar-color:#808080;
$sidebar-icon-color:#000000;
$navbar-icon-color:#000000;
$border-color: #F5F5F5;

body {
  font-family: 'Poppins','Roboto', sans-serif;
  font-size: .9rem;
}


.wrapper.default-theme {

  background: $bg-color;

  nav.navbar {
    background: $navbar-bg-color;
    border-color: rgba($navbar-color, .1);

    .navbar-brand {
      color: $navbar-icon-color;
    }

    .left-nav {
      input.navbar-search {
        background: #F5F5F5;
        color:$navbar-color;
        &::placeholder{
          color:rgba($navbar-color, .6);
        }
      }
    }

    .right-nav {
      background: $navbar-bg-color;
    }

    .nav-link {
      color: $navbar-icon-color;

      i:hover, i:active, i:focus {
        color: rgba($navbar-icon-color, .7);
      }
    }

    .nav-alert {
      border-color: #808080;

      &.notifications {
        background-color: #DC3545;
        box-shadow: 0px 0px 4px #DC3545;

      }

      &.messages {
        background-color: #0F71F2;
        box-shadow: 0px 0px 4px #0F71F2;

      }
    }
  }

  main {
    .overlay {
      background: $bg-color;
    }

    .sidebar {
      background: $sidebar-bg-color;

      >div {
        border-color: rgba($sidebar-color, .1);
      }

      a.sidebar-link {
        color: $sidebar-color;

      }

      .sidebar-profile {
        .name {
          color: $sidebar-icon-color;
        }

        .role {
          color: rgba($sidebar-icon-color, .8);
        }
      }

      .sidebar-menu {
        .menu-header {
          color: rgba($sidebar-icon-color, .8);
        }

        .menu-items {
          a {
            color: $sidebar-color;

            i {
              color: rgba($sidebar-icon-color, .8);
              border: none;
              width: auto;
              font-size: 1rem;
            }

            &:hover,
            &.active {
              background: $bg-color;
              color: rgba($sidebar-color, .8);
            }
          }
        }

      }
    }
  }

  .card {
    box-shadow: 1px 1px 2px rgba(#5b6582, .1);

    .card-title {
      display: inline-flex;
      color: rgba($sidebar-color, .8);
    }

    .card-icon {
      i {
        color: #98a4c7;
      }
    }

    .card-footer {
      border-top: 1px solid $border-color;
      background: none;
    }

    .card-title {
      border-bottom: 1px solid $border-color;
    }
  }

  .table {

    th,
    td {
      border-top: 1px solid darken($border-color,2%);
    }

    thead th {
      border-bottom: 2px solid darken($border-color,2%);
    }

    &.table-striped tbody tr:nth-of-type(odd) {
      background-color: lighten($border-color,1%);
    }

    &.table-hover tbody tr:hover {
      background-color: lighten($border-color, 1%);
    }
  }

  .btn {
    font-size: .9rem;

    &.btn-lightning {
      color: $navbar-icon-color;
      background-color: rgba($navbar-bg-color, .8);
      border-color: rgba($navbar-color, .1);

      &:hover {
        background-color: $navbar-bg-color;
      }
    }

    &.btn-outline-lightning {
      color: #5b6582;
      background-color: transparent;
      border-color: #5b6582;

      &:hover {
        color: #f0f3ff;
        background-color: #5b6582;
        border-color: #5b6582;
      }
    }
  }

  .form-control {
    font-size: .9rem;
  }

  .text-lightning {
    color: #98a4c7;
  }
}
